<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Toolbar -->
<div class="toolbar" role="banner">
 
<h1>Welcome</h1>

    <br><br><br><br>

  <!-- Highlight Card -->
  
<ng-template #showLogin>
  <div class="card highlight-card card-small">
     <div class="d-flex justify-content-end social_icon">
         <button (click)="login()"  class="fa fa-facebook" ></button>
         <button (click)="signin()"  class="fa fa-google" ></button>

     </div>
  </div>
<form class="form-3">
  <p class="clearfix">
     <label for="login">Email id</label>
      <input type="text"  [(ngModel)]="email" name="email" id="login" placeholder="Username">
  </p>
  <p class="clearfix">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="Password"> 
  </p>
  <p class="clearfix">
      <input type="checkbox" name="remember" id="remember">
      <label for="remember">Remember me</label>
  <p class="clearfix">
      <input type="submit" (click)="signup()"name="submit" value="Sign in">
  </p>     			
</form>
</ng-template>
</div>

<div *ngIf="auth.user | async as user; else showLogin"  class="display">
   <br>
  <h1>Hello {{ user.displayName }}!</h1>

  <p>Click logout to exit</p>
  <button (click)="logout()" class="btn" >Logout</button>
  <h3>authenticated user</h3>
  <div *ngFor="let item of returnedArray">
    <div>
   {{ item.email }}</div>
</div>
  <div><h4>current user: {{user.email}} <br> {{ user.displayName }} </h4>
    </div>
  </div>
 
  

    <!--ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.name}}
      </li>
     <router-outlet></router-outlet>
    </ul-->

 
  
  
    
  



